@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff00ff85;
  --secondary: #0010ff63;
  --tertiary: #fb3ce5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(2, 19, 22);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-search-cancel-button {
  display: none;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-timeline, audio::-webkit-media-controls-volume-slider {
    filter: invert(100%);
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color: white;
}
audio::-webkit-media-controls-enclosure {
    corner-shape: squircle;
    border-radius: 1rem;
    background-color: #000;
}

.scrollLess::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.avatarCarrousel {
  animation: avatarsCarrousel 30s linear infinite;
}

input::placeholder, textarea::placeholder {
  color: #383838;
  font-size: 1rem;
}

body {
  color: #fff;
  min-height: 100dvh;
  max-width: 100vw;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='52.123' height='64' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,6.7%,17.6%,1)'/><path d='M0 0v2.383h21.315v18.95h-9.493v-4.729h4.765V7.112H2.365v52.121h14.222v-9.457h-4.765V45.01h9.493v18.95H0v.028h23.68V42.656H9.458v9.493h4.728v4.728H4.73v-18.95h42.628v18.95h-9.457v-4.728h4.728v-9.494H28.408V64h23.715v-.03h-21.35V45.019h9.492v4.765h-4.728v9.457h14.222V7.12H35.537v9.493h4.728v4.729h-9.493V2.39h21.35V.009H28.409v23.695H42.63v-9.493h-4.728V9.483h9.457v18.95H4.73V9.483h9.456v4.728H9.458v9.492H23.68V.008zm4.729 30.79h42.629v4.764H4.728z'  stroke-width='1' stroke='none' fill='hsla(47,80.9%,61%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

#bgVideo {
  position: fixed;
  width: 100%;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes avatarsCarrousel {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(-190%);
  }
}